* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Red Hat Display", sans-serif;
  background-image: url(../images/pattern-background-desktop.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: hsl(225, 100%, 94%);
  background-position-y: -60px;
}
main {
  display: flex;
  justify-content: center;
  padding: 70px 0;
}
.card {
  border-radius: 10px;
  background-color: white;
  overflow: hidden;
  width: 400px;
  text-align: center;
  color: hsl(223, 47%, 23%);
}
.card .image img {
  max-width: 100%;
}
.card h2 {
  font-size: 23px;
  font-weight: 900;
  margin: 25px 0 15px;
}
.card p {
  color: hsl(224, 23%, 55%);
  font-size: 15px;
  line-height: 1.5;
  width: 300px;
  margin: 0 auto 10px;
  margin-right: auto;
}
.card .plan {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(225, 100%, 98%);
  width: 300px;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}
.card .plan img {
  width: 40px;
  margin-right: 15px;
}
.card .plan section span:first-child {
  font-size: 15px;
  font-weight: 700;
  color: hsl(223, 47%, 23%);
  margin-bottom: 5px;
  display: block;
}
.card .plan section span:last-child {
  color: hsl(224, 23%, 55%);
}
.card .plan > a {
  text-align: right;
  flex: 1;
  font-size: 13px;
  font-weight: 900;
  color: hsl(245, 75%, 52%);
}
.card .plan > a:hover {
  text-decoration: none;
  opacity: 80%;
}

.card .button a:first-child {
  padding: 10px 40px;
  display: block;
  background-color: hsl(245, 75%, 52%);
  color: white;
  text-decoration: none;
  width: 300px;
  border-radius: 12px;
  margin: 20px auto 10px;
  box-shadow: 0px 3px 6px hsl(224, 23%, 55%);
}
.card .button a:first-child:hover {
  opacity: 80%;
}
.card .button a:last-child {
  padding: 10px 40px;
  display: block;
  color: hsl(224, 23%, 55%);
  text-decoration: none;
  width: 300px;
  border-radius: 12px;
  margin: 20px auto;
  font-weight: 900;
  font-size: 14px;
}
.card .button a:last-child:hover {
  color: hsl(223, 47%, 23%);
}
@media (max-width: 767px) {
  main {
    padding: 70px 20px;
  }
}
